:root {
    --ral-font: 'Raleway', sans-serif;
    --rob-font: 'Roboto', sans-serif;
    --white-color: #ffffff;
    --navyblue-color: #2e2f42;
    --iris-color: #4d5ae5;
    --slate-color: #434455;
    --howe-color: #404bbf;
    --cloud-color: #f4f4fd;
    --but-color: #e7e9fc;
    --lightslate: #8e8f99;
    --soc: #31d0aa;
}
body {
    background-color: var(--primary-white-color);
    font-family: var(--primaryrob-font);
    color: var(--slate-color);
}
*,
*::before,
*::after {
    box-sizing: border-box;
}
.container {
    max-width: 426px;
    padding-left: 15px;
    padding-right: 15px;
    margin: 0 auto;
}
.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}
.header {
    border-bottom: 1px solid var(--but-color);
    background: var(--white-color);
    box-shadow: 0px 1px 6px 0px rgba(46, 47, 66, 0.08), 0px 1px 1px 0px rgba(46, 47, 66, 0.16),
        0px 2px 1px 0px rgba(46, 47, 66, 0.08);
}
.link {
    text-decoration: none;
}
ul {
    list-style-type: none;
}
img {
    display: block;
}
button {
    font-family: inherit;
    font-size: inherit;
}
.nav {
    display: flex;
}
.link-logo {
    display: block;
    font-family: var(--ral-font);
    color: var(--iris-color);
    font-size: 18px;
    font-weight: 800;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    margin: 0 auto 0 0;
    padding: 24px 0;
}
.second {
    color: var(--navyblue-color);
}
.style-menu {
    min-height: 40px;
    min-width: 40px;
    display: flex;
    align-items: center;
    justify-content: center;

    margin: 0;
    padding: 0;
    background-color: transparent;
    cursor: pointer;
    border: none;
    border-radius: 50%;
}
.service {
    padding: 112px 0;

    background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)),
        url(../images/peoplee.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    margin: 0 auto;
}
.i-one {
    font-family: var(--rob-font);
    color: var(--white-color);
    font-size: 36px;
    font-weight: 700;
    line-height: 1.11;
    letter-spacing: 0.045em;
    text-align: center;
    margin: 0 auto;
    margin-bottom: 72px;
    text-transform: capitalize;
    max-width: 320px;
}
.order-button {
    display: block;
    margin: 0 auto;
    padding: 16px 32px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

    color: var(--white-color);
    background-color: var(--iris-color);
    font-family: var(--rob-font);
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04rem;
}
.order-button:hover,
.order-button:focus {
    background-color: var(--howe-color);
}

.benefit {
    padding: 96px 0;
}
.h-tree,
.i-two {
    color: var(--primary-navyblue-color);
    font-size: 36px;
    font-weight: 700;
    line-height: 1.11;
    letter-spacing: 0.045em;
    text-transform: capitalize;
    text-align: center;
    margin: 0 0 8px 0;
}
.benefit .list {
    padding: 0;
    margin: 0;
    display: inline-flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 72px;
}
.text {
    line-height: 1.5;
    letter-spacing: 0.02rem;
    margin: 0;
}
.team {
    padding: 96px 0;
    background-color: var(--cloud-color);
}
.list-team {
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 72px;
    margin: 0 auto;
    padding: 0;
}
.team .liii {
    background-color: var(--white-color);
    border-radius: 0px 0px 4px 4px;
    box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08), 0px 1px 1px 0px rgba(46, 47, 66, 0.16),
        0px 1px 6px 0px rgba(46, 47, 66, 0.08);
    display: block;
    margin: 0 auto;
}
.i-two {
    margin: 0 0 72px 0;
}
.icon-team {
    width: 16px;
    height: 16px;
    fill: var(--white-color);
}
.cont-team {
    padding: 32px 0;
    text-align: center;
}
.cont-team .i-tree {
    text-align: center;
    margin: 0 0 8px 0;
}
.list-icon {
    display: flex;
    gap: 24px;
    justify-content: center;
    padding: 0;
    margin: 0;
}
.list-icon .link {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--iris-color);
    width: 40px;
    height: 40px;
    border-radius: 50%;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.list-icon .link:hover,
.list-icon .link:focus {
    background-color: var(--howe-color);
}
.team .text {
    margin: 0 0 8px 0;
}
/* eee */
/* eee */
/* eee */
/* eee */
/* eee */
.menu-container {
    /* Dont touch */
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    padding: 32px;
    background-color: #3f51b5;
    z-index: 999;
    margin: 0;
    transform: translateX(100%);
    transition: transform 250ms ease-in-out;
}

.menu-container.is-open {
    /* Dont touch */
    transform: translateX(0);
}

.menu-container .menu-toggle {
    /* Dont touch */
    position: absolute;
    top: 16px;
    right: 16px;
    color: #fff;
}

@media screen and (min-width: 768px) {
    .container {
        max-width: 766px;
    }
}

@media screen and (min-width: 1158px) {
    .container {
        max-width: 1158px;
    }
}

@media (max-width: 767px) {
    .menu {
        display: none;
    }
}
@media (max-width: 1157px) {
}

@media (min-width: 768px) {
    .menu-toggle {
        display: none;
    }
}
